@import "../../scss/variables";
@import "../../../node_modules/sass-mq/mq";

.quiz__question {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  box-sizing: content-box;
}
