@import "../../scss/variables";
@import "../../../node_modules/sass-mq/mq";

.progressbar__item {
  width: 25%;
}

.progressbar__item {
  &:first-child {
    .progressbar__stripe {
      border-radius: 5px 0 0 5px;
    }
  }

  &:last-child {
    .progressbar__stripe {
      border-radius: 0 5px 5px 0;
    }

    .progressbar__arrow {
      display: none;
    }
  }
}
.progressbar__stripe {
  height: 4px;
  width: 100%;
}

.progressbar__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 47px;

  @include mq($until: tablet) {
    padding: 5px;
  }

  .progressbar__arrow {
    @include mq($until: tablet) {
      width: 15px;
    }
  }
  .progressbar__genre {
    text-transform: uppercase;
    @include mq($until: tablet) {
      font-size: 10px;
    }
  }
}

.violet {
  color: $violet-medium;
}

.white {
  color: $white;
}

.grey {
  color: $gray-dark;
}

.violet-white-bg {
  background: linear-gradient(
    90deg,
    rgba(126, 85, 178, 1) 0%,
    rgba(220, 161, 248, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.violet-grey-bg {
  background: linear-gradient(
    90deg,
    rgba(126, 85, 178, 1) 0%,
    rgba(220, 161, 248, 1) 50%,
    rgba(101, 101, 101, 1) 100%
  );
}

.white-grey-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(101, 101, 101, 1) 100%
  );
}

.violet-bg {
  background: $violet-dark;
}

.grey-bg {
  background-color: $gray-dark;
}
