@import "../../scss/variables";
@import "../../../node_modules/sass-mq/mq";

.header__container {
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;

  // @include mq($until: tablet) {
  //   padding: 5px;
  // }
}

.header__items {
  display: flex;
  justify-content: space-between;
  color: $gray-lightest;
}
.header__username {
  margin-right: 20px;
  font-weight: $font-weight-bold;
}
.header__score-title {
  margin-right: 8px;
}
.header__score {
  font-weight: bold;
}
