@import "../../scss/variables";

.option-info__container {
  width: 55%;
}

@media (max-width: 1276px) {
  .option-info__container {
    width: 100%;
  }
}

.option-info__title {
  font-size: $button-font-size;
  font-family: $headers-font-family;
  font-weight: $font-weight-bold;
  padding: 8px 0px;
}

.option-info__image {
  padding-top: 20px;
}
.option-info__image img {
  height: 35vh;
  object-fit: cover;
  border: 1px solid $deepblue-medium;
  border-radius: 5px 5px 0px 0px;
}
.option-info__image img,
.option-info__player {
  width: 100%;
}

.option-info__player {
  border: 1px solid $deepblue-medium;
  border-radius: 0px 0px 5px 5px;
}

.option-info__description {
  padding-top: 20px;
  color: $gray-light;
  text-align: center;
}
