@import "../../scss/variables";
@import "../../../node_modules/sass-mq/mq";

.quiz__question {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 32px 48px 0px;
  background-color: $deepblue-darkest;
  box-sizing: content-box;

  @include mq($until: tablet) {
    padding: 5px;
  }
}
