@import "../../scss/custom";

.quiz__container {
  // justify-content: space-between;
}
.quiz__question {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  // width: calc(33% - 48px);
  margin: 0 auto;
  padding: 32px 48px 0px;
  background-color: $deepblue-darkest;
  box-sizing: content-box;
}
