@import "../../scss/variables";
@import "../../../node_modules/sass-mq/mq";

.question__container {
  width: 100%;
  padding: 32px 48px;
  background-color: $deepblue-dark;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;

  .question__container_image_bg {
    background: $deepblue-dark no-repeat right -10% bottom -40%
      url("../../images/quiz-cover.svg");

    @include mq($until: tablet) {
      background: $deepblue-dark;
    }
  }
}

.question__header {
  padding: 8px 0px;
}

.question__title {
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black;
  font-size: $title-font-size;
  font-family: $headers-font-family;
  font-weight: $font-weight-bold;
  margin-bottom: 15px;
}

.question__subtitle {
  color: $gray-light;
}

.audio__container {
  width: 40%;
}

.question__audio {
  background-color: $deepblue-dark;
  padding: 25px 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.audio__picture {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.audio__player {
  width: 60%;
}

@media (max-width: 1276px) {
  .question__container {
    flex-flow: column wrap;
  }

  .audio__container {
    width: 100%;
  }
}

.question__options {
  padding: 30px 0 20px 0px;
}

.options__list {
  list-style-type: none;
  padding: 0;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
