@import "./scss/variables";

html,
body {
  background-color: $deepblue-darkest;
}

.wrapper {
  background-color: $deepblue-darkest;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: $body-font-size;
  font-weight: $font-weight-regular;
  color: $white;
  font-family: $body-font-family;
}
