@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//colors
$white: #fff;
$black: #000;

//violet
$violet-dark: #7e55b2;
$violet-medium: #a769c3;
$violet-light: #dca1f8;
//gray
$gray-lightest: #e5e5e5;
$gray-light: #c7c4c4;
$gray-dark: #656565;
//blue
$deepblue-darkest: #12131e;
$deepblue-dark: #1b1d31;
$deepblue-medium: #373b62;
$deepblue-light: #494d77;
//red
$red-dark: #853838;
$red-light: #b55a5a;
//green:
$green-dark: #3e6441;
$green-light: #619a65;

//typography
$body-font-family: "Arial";
$headers-font-family: "Prompt";
